<h3 class='text-center'>Find Professionals that are reocmmneded by your friends.  Get a gift card just by
visiting one of your friends recommended providers.</h3>

<div *ngIf="loaded" class="btn-group col-md-4" dropdown>
  <button dropdownToggle type="button" class="col-md-8 btn btn-primary dropdown-toggle">
    Choose Category
  </button>
  <ul *dropdownMenu class="col-md-8 text-center dropdown-menu" role="menu">
    <li class='text-center' *ngFor='let category of categories' role="menuitem"><button (click)='getRecommendationsForCategory(category.id)' class="dropdown-item">{{category.name}}</button></li>
  </ul>
</div>

<app-recommendation *ngIf="recLoaded" [recommendations]="recommendations"></app-recommendation>
