<h1 class="text-center">Search for peeps</h1>
    <div ngbDropdown class="d-inline-block col-md-12">
      <button class="btn btn-outline-primary col-md-12" id="dropdownBasic1" ngbDropdownToggle>Choose Category</button>
      <div class="dropdown-menu col-md-12" aria-labelledby="dropdownBasic1">
        <button class="dropdown-item text-center">Action - 1</button>
        <button class="dropdown-item text-center">Another Action</button>
        <button class="dropdown-item text-center">Something else is here</button>
      </div>
