<div class='sidebar list-group'>
    <a class="list-group-item" routerLink='/personal' routerLinkActive='active'><i class="fa fa-home fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;Home</a>
    <a class="list-group-item" routerLink='/friends' routerLinkActive='active'><i class="fa fa-search fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;Find Friends</a>
    <a class="list-group-item" routerLink='/myFriends' routerLinkActive='active'><i class="fa fa-users fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;My Friends</a>
    <a class="list-group-item" routerLink='/findForRecommendation' routerLinkActive='active'><i class="fa fa-plus fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;Add Recommendation</a>
    <a class="list-group-item" routerLink='/submittedRecommendations' routerLinkActive='active'><i class="fa fa-eye fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;Manage Recommendations</a>
    <a class="list-group-item" routerLink='/manageReferrals' routerLinkActive='active'><i class="fa fa-eye fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;View Active Referrals</a>
    <!-- <a class="list-group-item" href="">Check Payment Status</a> -->
</div>
