<div class="offset-md-2">
  <ul class="list-unstyled border-1">
    <li><a routerLink='/personal' routerLinkActive='active'>Home</a></li>
    <li><a routerLink='/friends' routerLinkActive='active'>Friends</a></li>
    <li><a routerLink='/findForRecommendation' routerLinkActive='active'>Add Recommendation</a></li>
    <li><a href="">View Referrals</a></li>
    <li><a href="">Check Payment Status</a></li>
    <button type="button" class="btn btn-link" (click)="logout()">Logout</button>
  </ul>
</div>
