<h1 class='text-center'> {{headerText}} </h1>
<div class="review-block" *ngFor='let recommendation of recommendations'>
  <div class="row">
    <div class="col-sm-3">
      <img src="{{recommendation.user_image}}" class="img-rounded">
      <div class="review-block-name"><a href="#">{{recommendation.user_name}} Mcbride</a></div>
      <!-- <div class="review-block-date">January 29, 2016<br/>1 day ago</div> -->
    </div>
      <div class="review-block-title">{{recommendation.business_name}}</div>
      <div class="review-block-description">{{recommendation.text}}</div>
  </div>
  <button (click)="createReferral(recommendation.id)">I'm interested!</button>
</div>
