<p>
  find-for-recommendation works!
</p>
<div>
  <input class='col-md-6' placeholder="Find business to recommend using BUID"
    type='text' #buid>
  <button (click)="searchByBuid(buid.value)">Submit</button>

</div>
<div>
  <input [value]="zipcode" class='col-md-6' placeholder="Enter business zipcode">
  <select>
    <option value='first bizz'>biz</option>
    <option value='second bizz'>2biz</option>
    <option value='third bizz'>3biz</option>
  </select>
  <button (click)="searchByZip(zipcode, category)">Submit</button>
</div>
